body {
    font-family: Arial, sans-serif;
    background-color: #17191b;
}

.background {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: #dcf3ea;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 2rem;
}

.shakespeare {
    max-width: 100%;
    height: auto;

    display: block;
    margin: 0 auto;
}

textarea {
    resize: none;
    width: 100%;
    margin-bottom: 10px;
}

.chat-container {
    background-color: #222;
    border: 1px solid #444;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    max-width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chat-header {
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.chat-window {
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
}

.chat-messages {
    max-height: 100%;
}

.user-message,
.shakespeare-message {
    margin-bottom: 10px;
}

.message-bubble {
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 5px;
}

.user-bubble {
    background-color: #1abc9c;
    color: #fff;
}

.shakespeare-bubble {
    background-color: #3498db;
    color: #fff;
}

.timestamp {
    font-size: 10px;
}

.chat-input {
    display: flex;
    margin-top: 10px;
}

input#input_text {
    flex: 1;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;
}

.chat-footer {
    text-align: center;
    margin-top: 10px;
}
