{% extends "layout.html" %}

{% block content %}
<div class="background">
    <div class="header">
        <h1>ShakespeareGPT</h1>
    </div>
    <div class="content">
        <img class="shakespeare" src="{{ url_for('static', filename='images/ShakespeareGPT2.jpeg') }}" alt="Shakespeare">
        <form action="{{ url_for('generate_text') }}" method="post">
            <label for="input_text">Talk to Shakespeare:</label>
            <textarea name="input_text" id="input_text" rows="6" cols="40"></textarea>
            <br>
            <input type="submit" value="Generate">
        </form>
    </div>
</div>
{% endblock %}
