{% extends "layout.html" %}

{% block content %}
<div class="chat-container">
  <div class="chat-header">
    <h3>Chatting with Shakespeare</h3>
    <img src="{{ url_for('static', filename='images/Willie.png') }}" alt="Shakespeare" class="shakespeare-img" style="width: 50px;">
    <p>William</p>
  </div>
  <div class="chat-window">
    <div class="chat-messages">
      <div class="user-message">
        <div class="message-bubble user-bubble">
          You: {{ user_prompt }}
        </div>
        <div class="timestamp">{{ timestamp }}</div>
      </div>
      <div class="shakespeare-message">
        <div class="message-bubble shakespeare-bubble">
          William: {{ generated_text }}
        </div>
        <div class="timestamp">{{ timestamp }}</div>
      </div>
    </div>
  </div>
  <form action="{{ url_for('generate_text') }}" method="post" class="chat-input">
    <input type="text" id="input_text" name="input_text" placeholder="Type your message...">
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
  <div class="chat-footer">
    <a href="{{ url_for('home') }}">Start Over</a>
  </div>
</div>
{% endblock %}
