{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="response">
    <div class="msgbox">
         <div class="msgheader">
               <div class="left">
                    <div class="arrow">
                        <a href="/"><img src="{% static '/image/arrow.png'%}" alt=""></a>
                    </div>
                    <div class="avator">
                        <img src="{% static '/image/shak2.png'%}" alt="">
                    </div>
                    <div class="name">
                        <h4>Talk to Shakespeare</h4>
                        <p>Online</p>
                    </div>
               </div>
                <div class="right">
                    <div class="msg">
                        <img src="{% static '/image/msg.png'%}" alt="">
                    </div>
                    <div class="dots">
                        <img src="{% static '/image/dots.png'%}" alt="">
                    </div>
                </div>

         </div>
         <div class="msgbody">
            <div id="chat-window"></div>
            <form id="chat-form">
                {% csrf_token %}
                 <div class="msgsendbox">
                    <input type="hidden" value="{{usermsg}}" id="usermsg" name="usermsg">
                    <input type="text" id="message-input" name="message" >
                    <button type="submit"><img src="{% static '/image/send.png'%}" alt=""></button>
                </div>
            </form>
         </div>
    </div>
    <div class="content">
        <h2>Prithee, kind users</h2>
         <p>Please consider sponsoring ShakespeareGPT if you've enjoyed using the app and want to help others continue engaging with this iconic figure. Your support will ensure that Shakespeare's wit and wisdom remain accessible to everyone. </p>
        <a href="https://www.talktoshakespeare.com/">www.talktoshakespeare.com</a>
    </div>
</div>
<script>
    const chatWindow = document.querySelector("#chat-window");
    const chatForm = document.querySelector("#chat-form");
    const messageInput = document.querySelector("#message-input");
    function handleSubmit(event) {
        event.preventDefault();
        const message = messageInput.value;
        messageInput.value = "";
        addMessage(message, true);
        sendChatMessage(message);
    }
    
    chatForm.addEventListener("submit", handleSubmit);
    document.onreadystatechange = () => {
        if (document.readyState === 'complete') {
        const usermsg = document.querySelector("#usermsg").value; 
           if(usermsg !== ''){
                addMessage(usermsg, true);
                sendChatMessage(usermsg);

           }
        }
      };

      let isTyping = false;

      function addTypingMessage() {
          if (!isTyping) {
              const messageHTML = `<div class="list shakp"><div class="img"><img src="{% static '/image/ss.png'%}" alt=""></div><div class="msg"><div class="sdetails"><span class="name">Shakespeare</span> - <span class="date">${new Date().toLocaleTimeString()}</span></div><div class="text">Typing...</div></div></div>`;
              chatWindow.insertAdjacentHTML("beforeend", messageHTML);
              chatWindow.scrollTop = chatWindow.scrollHeight;
              isTyping = true;
          }
      }
      
      function removeTypingMessage() {
        if (isTyping) {
            const textElements = chatWindow.querySelectorAll('.text');
            for (let i = 0; i < textElements.length; i++) {
                if (textElements[i].textContent === 'Typing...') {
                    textElements[i].closest('.list').remove();
                    isTyping = false;
                    break;
                }
            }
        }
    }

  

    
function addMessage(message, isUser = false) {
    let messageHTML = '';
    const date = new Date();
    const timenow = date.toLocaleTimeString();

    messageClass = isUser ? "you" : "shakp";
    console.log(message);
    if (isUser) {
        messageHTML = `  <div class="list you">
        <div class="msg">
                <div class="sdetails">
                    <span class="date">${timenow}</span> - <span class="name">you</span>
                </div>
                <div class="text">${message}</div> 
        </div>
        <div class="img">
            <img src="{% static '/image/keyboard.png'%}" alt="">
    
        </div>                
       
    </div>`;
    } else {
        messageHTML = ` <div class="list shakp">
        <div class="img">
            <img src="{% static '/image/ss.png'%}" alt="">

        </div>   
        <div class="msg">
                <div class="sdetails">
                    <span class="name">Shakespeare</span> -  <span class="date">${timenow}</span> 
                </div>
                <div class="text">${message}</div> 
        </div>
                    
       
    </div>`;

    }
    // const messageHTML = `<div class="list ${messageClass}">${message}</div>`;
    chatWindow.insertAdjacentHTML("beforeend", messageHTML);
    chatWindow.scrollTop = chatWindow.scrollHeight;
}

function sendChatMessage(message) {
    const csrftoken = document.querySelector(
        "[name=csrfmiddlewaretoken]"
    ).value;
    const formData = new FormData();
    formData.append("csrfmiddlewaretoken", csrftoken);
    formData.append("message", message);
    addTypingMessage();
    fetch("/chatbot/", {
        method: "POST",
        body: formData,
    })
        .then((response) => response.json())
        .then((data) => {
            if (data && data.response) {
                removeTypingMessage();
                addMessage(data.response, false);
            } else {
                console.log("Error: invalid response from ChatGPT API");
            }
            
        })
        .catch((error) => {
            console.log("Error:", error);
            removeTypingMessage();
            addMessage("Sorry, there was an error processing your request.", false);
        });
}
</script>
{% endblock content %}
